@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Manrope', sans-serif;
}

@layer base {
  :root {
    --background: 250 50% 98%;
    --foreground: 20 14% 10%;
    --card: 0 0% 100%;
    --card-foreground: 20 14% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14% 10%;
    --primary: 17 88% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 179 84% 24%;
    --secondary-foreground: 0 0% 100%;
    --muted: 20 6% 66%;
    --muted-foreground: 20 8% 46%;
    --accent: 24 95% 73%;
    --accent-foreground: 20 14% 10%;
    --destructive: 346 77% 42%;
    --destructive-foreground: 0 0% 100%;
    --border: 20 6% 90%;
    --input: 20 6% 90%;
    --ring: 17 88% 48%;
    --radius: 1rem;
  }
}

@layer base {
  body {
    @apply bg-stone-50 text-stone-900;
  }
}

@keyframes pulse-slow {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}

.animate-pulse-slow {
  animation: pulse-slow 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}